@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Light.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Regular.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-MediumItalic.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-SemiBold.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Bold.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Black.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-BlackItalic.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Bold.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-BlackItalic.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Black.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-LightItalic.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Light.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-LightItalic.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-ExtraLight.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-ExtraLight.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-MediumItalic.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Medium.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-SemiBold.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Regular.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-RegularItalic.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-RegularItalic.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Medium.woff2") format("woff2"),
    url("../fonts/Lama Sans/LamaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Lama Sans";
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
  line-height: normal;
  
}

html {
  scrollbar-width: thin;
  scrollbar-color: $main #fff;
  scroll-behavior: unset !important;
}

.overflow {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  image-rendering: -webkit-optimize-contrast !important;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  outline: 0 !important;
}

input::-moz-placeholder {
  color: inherit;
}

input::placeholder {
  color: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  outline: 0;
}

a,
img,
button,
input,
select {
  transition: all 0.3s ease;
}

[role="button"] {
  cursor: pointer;
}

/*style scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $main;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $hover;
}

@include max-767 {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-right: 20px;
    padding-left: 20px;
  }
}

// @include min-1200 {

//   .container,
//   .container-lg,
//   .container-md,
//   .container-sm,
//   .container-xl {
//     max-width: 990px;
//   }
// }

// @media only screen and (min-width: 1440px) {

//   .container,
//   .container-lg,
//   .container-md,
//   .container-sm,
//   .container-xl {
//     max-width: 1000px;
//   }

// }
@media only screen and (min-width: 1920px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1720px;
  }
}
.container-fluid {
  --bs-gutter-x: 30px;
}

.container {
  --bs-gutter-x: 30px;
}

.row {
  --bs-gutter-x: 30px;
}

.row > * {
  --bs-gutter-x: 30px;
}
.custom-pagention {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 8px;
}
.custom-pagention a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: $sec;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  background-color: $white;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}
.custom-pagention a.active {
  color: $white;
  background-color: $hover;
}
.custom-pagention a:hover {
  color: $white;
  background-color: $hover;
}
.custom-pagention a i {
  font-size: 16px;
}
html[dir="ltr"] .custom-pagention a i {
  transform: scaleX(-1);
}

.breadcrumb-sec {
  position: relative;
  @include flexCenter;
  padding: 20px 0 45px;
}
.page-head {
  font-size: 24px;
  color: $white;
  font-weight: 700;
  margin-bottom: 15px;
  padding: 0;
  text-transform: capitalize;
  text-align: center;
}
ol.breadcrumb {
  background-color: transparent;
  border: none;
  border-radius: 0;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
ol.breadcrumb li a,
ol.breadcrumb li span,
ol.breadcrumb li {
  @include tr;
  text-transform: capitalize;
  font-size: 12px;
  color: $main;
  font-weight: 500;
  text-decoration: none !important;
  &.bread-current {
    color: $hover;
  }
}
ol.breadcrumb li a:hover {
  color: $hover;
}
ol.breadcrumb li:not(:last-of-type):after {
  content: "\f105";
  font-family: "Font Awesome 6 Pro";
  padding: 0 10px;
  font-size: 14px;
  html[dir="rtl"] & {
    transform: scaleX(-1);
    display: inline-block;
  }
}
@media (max-width: 991px) {
  .breadcrumb-sec {
    padding: 30px 0;
  }
  // .breadcrumb-sec .page-head {
  //   color: $main;
  // }
}
