.bars-dropdown {
    display: none !important;

    @media screen and (max-width: 1025px) {
        display: flex !important;
    }
}

.scrolledNav {
    background-color: rgba($color: #091b3c, $alpha: 0.8);
    //blur(10px);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 12px 0 !important;

    .r-sect {
        span {
            display: none;
        }
    }
}

.main-header-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 30px 0;
    transition: all 0.3s ease-in-out;

    @include max-991 {
        gap: 30px;
        padding: 20px 0 0;
    }

    @include max-767 {
        gap: 20px;
    }

    .upper-nav-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        @include max-767 {
            gap: 5px;
        }

        .r-links,
        .l-links {
            display: flex;
            align-items: center;
            gap: 40px;

            @media screen and (max-width: 1025px) {
                display: none;

            }

            @include max-1300 {
                gap: 20px;
            }

            @include max-991 {
                gap: 15px;
            }

            @include max-767 {
                gap: 10px;
            }

            a {
                font-size: 14px;
                font-weight: 700;
                color: $white;
                transition: all 0.3s ease-in-out;
                @include tr;

                @include max-991 {
                    font-size: 11px;
                }

                &:hover {
                    color: $hover;
                }
            }

        }

        .join-cont {
            display: flex;
            align-items: center;
            gap: 25px;
            height: 48px;
            background-color: rgba(255, 255, 255, 0.1);
            //blur(10px);
            padding: 0 25px;
            border-radius: 32px;
            cursor: pointer;
            font-size: 14px;
            font-weight: 800;
            color: $white;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            /* translucent overlay */
            border: 1px solid rgba(255, 255, 255, 0.3);
            min-width: 200px;

            .r-s {
                display: flex;
                align-items: center;
                gap: 13px;
                font-size: 14px;
                font-weight: 700;
                color: $white;
                @include tr;

                @include max-991 {
                    font-size: 12px;
                }

                &:hover {
                    color: $hover;
                }
            }

            .sea-word {
                position: relative;

                .plus {
                    position: absolute;
                    top: -5px;
                    inset-inline-start: -7px;
                    font-size: 10px;
                    color: $white;
                    @include tr;
                }
            }
        }

        .r-sect {
            display: flex;
            align-items: center;
            gap: 10px;
            height: 48px;
            background-color: rgba(255, 255, 255, 0.1);
            //blur(10px);
            padding: 7px 11.5px;
            border-radius: 32px;
            font-size: 14px;
            font-weight: 800;
            color: $white;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            /* for Safari */
            /* translucent overlay */
            border: 1px solid rgba(255, 255, 255, 0.3);
            @include tr;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);

            }

            @media screen and (max-width: 1025px) {
                display: none;

            }

            a {
                display: flex;
                align-items: center;
                gap: 10px;
                //smoth scroll
                scroll-behavior: smooth;
                transition: all 0.3s ease-in-out;
                @include tr;

            }
        }

        .options-big {
            @media screen and (max-width: 1025px) {
                display: none;

            }
        }

    }


    .lower-nav-cont {
        .main-links {
            display: flex;
            align-items: center;
            gap: 24px;
            margin: 0 auto;
            width: fit-content;

            @media screen and (max-width: 1025px) {
                display: none;

            }

            @include max-1300 {
                gap: 16px;
            }

            @include max-991 {
                gap: 15px;
            }

            @include max-767 {
                gap: 10px;
            }

            a {
                font-size: 14px;
                font-weight: 700;
                color: $white;
                transition: all 0.3s ease-in-out;
                @include tr;

                @include max-991 {
                    font-size: 11px;
                }

                &:hover {
                    color: $hover;
                }
            }

            .active {
                padding: 17px 9px;
                border-radius: 18px;
                background-color: rgba(255, 255, 255, 0.2);
            }

            .noqta {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $white;
            }
        }
    }

}

.profile-img-login {
    width: 34px;
    height: 34px;
    border-radius: 17px;
    flex-shrink: 0;
    margin: auto;
    object-fit: cover;
    border: 1px solid #ffffff;
    background-color: #ffffff;

}

.header-cont {
    padding: 20px 0 25px;
    top: -200px;
    @include tr;

    @include max-767 {
        padding: 20px 0 30px;
    }

    .nav-cont {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;


        @include max-1300 {
            flex-wrap: wrap;
        }

        @media screen and (max-width: 450px) {
            gap: 10px;
        }

        .logo {
            width: 20%;
            height: 48px;

            @media screen and (max-width: 1400px) {
                width: fit-content;
            }

            @include max-1300 {
                order: 1;
            }

            img {
                height: 48px;
                width: auto;

                @media screen and (max-width: 450px) {
                    max-width: 120px;
                }
            }
        }

        .main-links {
            display: flex;
            align-items: center;
            gap: 18px;
            height: 48px;

            @media screen and (max-width: 1025px) {
                display: none;

            }

            @include max-1300 {
                order: 3;
                margin: auto;
            }

            @include max-991 {
                gap: 15px;
            }

            @include max-767 {
                gap: 13px;
            }

            @media screen and (max-width: 500px) {
                gap: 5px;
                width: 100%;
                justify-content: space-between;
            }


            a {
                font-size: 12px;
                font-weight: 700;
                color: $main;
                transition: all 0.3s ease-in-out;
                @include tr;

                @include max-991 {
                    font-size: 10px;
                }

                &:hover {
                    color: $hover;
                }
            }

            .active {
                padding: 0px 20px;
                height: 48px;
                display: flex;
                align-items: center;
                border-radius: 18px;
                background-color: $main;
                color: $white;

                @media screen and (max-width: 450px) {
                    display: none;
                }
            }

            .noqta {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $main;

                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
        }

        .account-cont {
            display: flex;
            align-items: center;
            gap: 8px;
            height: 48px;

            @include max-1300 {
                order: 2;
            }

            a {
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 32px;
                overflow: hidden;
                @include tr;

                &:hover {
                    background-color: $sec;
                }

            }

            .profile {
                width: 48px;
                background-color: #F1F1F1;

            }

            .register {
                padding: 0 18px;
                background-color: $hover;
                color: $white;
                display: flex;
                align-items: center;
                gap: 10px;

                @media screen and (max-width: 450px) {
                    padding: 0 10px;
                    gap: 5px;

                }

                span {
                    font-size: 12px;
                    font-weight: 700;
                }

                i {
                    @media screen and (max-width: 450px) {
                        display: none;

                    }
                }
            }
        }
    }
}

.header-profileImage {
    &:hover {
        border: 2px solid $sec;
    }
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    background-color: #F1F1F1;
    width: 100%;
    padding: 10px 0 !important;
}

.dropdown-menu-content {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    //blur(10px);
    padding: 7px 11.5px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 800;
    border: none;
    color: $white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-height: 400px;
    overflow-y: scroll;
    /* for Safari */
    /* translucent overlay */
    @include tr;
    width: 200px;
    max-width: 200px;
    padding: 20px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);

    }

    .option-drop-link {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        background-color: $white;
        color: $main;
        width: 100%;
        height: 38px;
        padding: 0 7px;
        border-radius: 10px;
        @include tr;
        direction: rtl;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }

    }

    .option-drop-link-app {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: $white;
        color: $main;
        width: 100%;
        padding: 24px;
        border-radius: 22px;
        @include tr;
        direction: rtl;
        gap: 10px;

        h3 {
            font-size: 14px;
            font-weight: 700;
            color: $main;
            @include tr;
        }

        .h3-cont {
            height: 40px;
            @include flexCenter;
            position: relative;

            img {
                width: 123px;
                height: 37px;
                position: absolute;
                top: 0;
                left: 0;
                transform: rotate(4deg);

            }
        }
    }
}