.publishing-features {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 9px;

  @include max-991 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.publish-item {
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
  background-color: #f6f6f6;
  @include flexCenter;
  flex-direction: column;
  text-align: center;
  padding: 44px;
  gap: 35px;

  @include max-991 {
    padding: 20px;
    gap: 20px;
  }

  figure {
    width: 65px;
    height: 65px;
    @include flexCenter;
    max-width: 100%;
  }

  span {
    font-weight: 700;
    font-size: 14px;
    color: $main;
    line-height: 25px;
  }
}

.offer-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 50px;

  @include max-991 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.offer-item {
  width: 100%;
  overflow: hidden;
  padding: 40px;
  border-radius: 40px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  gap: 33px;

  @include max-991 {
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
  }
  .icon-cont{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: #2DB08A;
    display: flex;
    align-items: center;
    justify-content: center;
    //hover
    &:hover{
      background-color: $main;
      color: $white;
    }
    @include tr;
    img{
      width: 24px;
      height: 24px;
      object-fit: contain
    }
  }
  h4{
    font-size: 28px;
    font-weight: 700;
    color: $hover;
    max-width: 248px;
    @include max-991 {
      font-size: 20px;
      line-height: 24px;
    }
  }

  p{
    font-size: 14px;
    font-weight: 600px;
    color: #4D4D4D;
  }

}

.housing-ancor {
  background-color: $sec;
  width: fit-content;
}

.trip-item {
  width: 100%;
  overflow: hidden;

  .item-price {
    font-size: 14px;
  }
}

.trip-img {
  position: relative;
  width: 100%;

  figure {
    width: 100%;
    border-radius: 40px;
    position: relative;
    aspect-ratio: 415/315;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include tr;
    }



    &:hover img {
      transform: scale(1.05);
    }
  }
}

.fav-btn {
  position: absolute;
  top: 25px;
  inset-inline-end: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 17px;
  background-color: var(--white-color);
  color: var(--black-color);
  font-size: 17px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $sec;
    color: $white;
  }
}

.detail-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.detail-period {
  font-weight: 600;
  font-size: 10px;
  color: #747474;
}

.item-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.book-ancor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 52px;
  border-radius: 26px;
  background-color: $sec;
  color: $white;
  font-weight: 800;
  font-size: 12px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $main;
    color: $white;
  }
}

.book-flight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: $sec;
  color: $white;
  font-size: 24px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $main;
    color: $white;
  }
}



.acc-triger {
  display: flex;
  align-items: center;
  gap: 20px;

  img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    object-fit: cover;

  }

  .o-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    height: 100%;
    align-items: flex-start;

    h2 {
      color: #091B3C;
      font-weight: 800;
      font-size: 14px;
      margin-bottom: 0;
    }

    span {
      font-weight: 600;
      font-size: 12px;
      color: #808080;
    }
  }
}

.transport-form {
  .serv-cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 17px;

    @include max-767 {
      grid-template-columns: repeat(2, 1fr);
    }

    .serv-item {
      display: flex;
      justify-content: space-between;
      padding: 30px;
      background-color: #F5F5F5;
      border-radius: 35px;
      //transition: all 0.3s ease-in-out;
      @include tr;
      &:hover{
        background-color: $main;
        color: $white;

      }

      @media screen and (max-width: 1200px) {
        padding: 20px;
        border-radius: 12px;
        flex-direction: column;
      }
      img{
        width: 120px;
        height: 120px;
        object-fit: contain;

        @media screen and (max-width: 767px) {
          width: 80px;
          height: 80px;
        }

      }
      h3 {
        font-weight: 800;
        font-size: 14px;
        margin-bottom: 0;
        @media screen and (max-width: 767px) {
          font-size: 12px;
          font-family: 500;

        }
      }
      .l-side{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        align-items: flex-end;
        @media screen and (max-width: 1200px) {
          gap: 5px;
          flex-direction: row-reverse;
        }
        a{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s ease-in-out;
          @include tr;
          &:hover{
            background-color: #ffffff30;
            //blur(10px);
            color: $white;
          }
        }
        img{
          width: 8px;
          height: 8px;
          object-fit: contain;
        }
        h3{
          text-align: end;
        }
      }
    }
  }
}
.app-go-to{
  display: flex;
  align-items: center;
  gap: 10px;
  color: $white;
  font-weight: 700;
  font-size: 14px;
  background-color: #2FB08A;
  height: 48px;
  border-radius: 24px;
  padding: 0 35px;
  transition: all 0.3s ease-in-out;
  @include tr;
  width: fit-content;
  margin: 25px auto 0;
  &:hover{
    background-color: $main;
    color: $white;
  }
}
.fasla{
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #D9D9D9;
  display: inline-block;
}