.big-offers-section {
    padding: 75px 0;

    .swiper-btn-2 {
        bottom: -45px;
        /* transform: translateY(50%); */
        padding: 0;
        width: 120px;
        inset-inline-end: 0;
    }

    h2 {
        color: $hover;
        font-size: 44px;
        font-weight: 700;
        margin-bottom: 25px;
        text-align: center;

        @media screen and (max-width: 767px) {
            font-size: 24px;

        }

    }

    h6 {
        font-size: 14px;
        font-weight: 600;
        color: #000;
        margin: 0 auto 39px;
        text-align: center;
        max-width: 750px;
        text-align: center;

        @media screen and (max-width: 767px) {
            font-size: 12px;

        }
    }

    p {
        font-size: 15px;
        font-weight: 600;
        color: #6F6F6F;
        margin: 0 auto 63px;
        text-align: center;
        max-width: 750px;

        @media screen and (max-width: 767px) {
            font-size: 12px;

        }

    }

    .offer {
        cursor: pointer;

        &:hover {
            .offer-img img {
                transform: scale(1.1);
            }
        }

        .offer-img {
            aspect-ratio: 415/215;
            display: block;
            overflow: hidden;
            border-radius: 45px;
            position: relative;
            margin-bottom: 25px;

            @media screen and (max-width: 767px) {
                border-radius: 20px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.3s ease-in-out;
            }
        }

        h3 {
            font-size: 14px;
            font-weight: 600;
            color: #747474;
            margin-bottom: 25px;

        }

        p {
            color: $main;
            font-family: 800;

            margin-bottom: 25px;
            line-height: 30px;
            // maximum 2 lines 
            overflow: hidden;
            display: -webkit-box;

            -webkit-box-orient: vertical;
            text-align: start;
        }

        .valid-date {
            color: $main;
            font-size: 14px;
            font-weight: 800;
            margin-bottom: 15px;

        }

        .place {
            span {
                color: #6F6F6F;
                font-size: 12px;
                font-weight: 500;
            }
        }

    }

    button {
        color: #6F6F6F;
        font-size: 12px;
        font-weight: 500;
    }
}

.hotels-card-in-home {
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.appimage-cont {
    width: 100%;
    aspect-ratio: 1720/660;
    overflow: hidden;
    border-radius: 80px;

    @media screen and (max-width: 767px) {
        border-radius: 40px;

    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
    }
}

.lower-hotels {
    .grid-item {
        width: 100%;
        position: relative;
        height: fit-content;
        cursor: pointer;

        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.3s ease-in-out;
        }

        .item-cont {
            @media screen and (max-width: 767px) {
                border-radius: 40px;
            }

        }

        .img-cont {
            overflow: hidden;
            border-radius: 60px;
            overflow: hidden;
            aspect-ratio: 414/343;
            position: relative;
            margin-bottom: 25px;
            max-width: 410px;

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.0) 100%);
                z-index: 10;
                padding: 60px 40px;

                &:hover {
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%);
                }

                h4 {
                    font-size: 32px;
                    font-weight: 600;
                    color: #fff;
                    margin-bottom: 15px;
                    text-align: start;

                    @media screen and (max-width: 767px) {
                        font-size: 24px;
                    }
                }

                p {
                    color: #fff;
                    font-size: 12px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                i {
                    font-size: 14px;
                    color: #FFBE33;
                }
            }
        }


        .arrow-cont {
            position: absolute;
            bottom: 0;
            left: -20px;
            z-index: 11;
            width: 80px;
            height: 80px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;

            @media screen and (max-width: 767px) {
                width: 55px;
                height: 55px;
                border-radius: 15px;

            }

            .i-cint {
                width: 55px;
                height: 55px;
                border-radius: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $hover;

                @media screen and (max-width: 767px) {
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;

                }
            }

            i {
                font-size: 14px;
                color: #fff;
                transform: rotate(45deg);
            }
        }

    }
}



// OTP Input Styles
.otp-field-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  .otp-input-wrapper {
    width: 100%;
    direction: ltr;
  }

  .otp-group {
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;

    @media screen and (max-width: 767px) {
      gap: 6px;
    }
  }

  .otp-slot {
    width: 48px;
    height: 56px;
    border: 2px solid #E5E7EB;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    color: #1F2937;
    background-color: #F9FAFB;
    transition: all 0.2s ease-in-out;

    @media screen and (max-width: 767px) {
      width: 40px;
      height: 48px;
      font-size: 18px;
      border-radius: 10px;
    }

    &:focus-within,
    &:focus {
      border-color: #3B82F6;
      background-color: #ffffff;
      box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
    }

    &:hover {
      border-color: #9CA3AF;
    }
  }
}