.package-detils {
    display: flex;
    gap: 10px;

    @media screen and (max-width: 767px) {
        flex-direction: column;

    }

    .package-img {
        width: calc(25% - 5px);
        aspect-ratio: 415/496;
        overflow: hidden;
        object-fit: cover;
        border-radius: 60px;

        @media screen and (max-width: 767px) {
            width: 100%;
            border-radius: 40px;
        }

    }

    .all-details {
        width: calc(75% - 5px);
        padding: 65px;
        border-radius: 60px;
        background-color: #F8F8F8;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-between;
        height: auto;

        @media screen and (max-width: 1025px) {
            padding: 40px;
            border-radius: 40px;

        }

        @media screen and (max-width: 767px) {
            width: 100%;
            padding: 20px;
            border-radius: 20px;
        }

        .title-alert {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            margin-bottom: 50px;

            @media screen and (max-width: 767px) {
                flex-direction: column;
                gap: 20px;
                margin-bottom: 30px;
                align-items: flex-start;
            }

            h3 {
                font-weight: 700;
                font-size: 32px;
                color: $main ;

            }

            .pop-link {
                display: flex;
                align-items: center;
                gap: 6px;
                font-weight: 800;
                font-size: 12px;
                color: #027EE4;
                cursor: pointer;
            }
        }

        .dates-persons {
            display: flex;
            align-items: center;
            gap: 40px;
            flex-wrap: wrap;

            @media screen and (max-width: 1025px) {
                gap: 22px;
            }

            @media screen and (max-width: 767px) {
                gap: 20px;
                flex-direction: column;
                align-items: flex-start;
            }

            .ele {
                display: flex;
                flex-direction: column;
                gap: 15px;

                @media screen and (max-width: 1025px) {
                    gap: 10px;

                }

                h3 {
                    font-weight: 600;
                    font-size: 24px;
                    color: $black;

                    @media screen and (max-width: 1025px) {
                        font-size: 16px;

                    }
                }

                span {
                    font-weight: 400;
                    font-size: 14px;
                    color: $black;
                }

            }

            .fasel {
                width: 1px;
                height: 60px;
                background-color: #00000033;

                @media screen and (max-width: 767px) {
                    display: none;
                }
            }

        }

        .lower-part {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: 1525px) {
                flex-direction: column;
                gap: 20px;
            }

            @media screen and (max-width: 767px) {
                flex-direction: column;
                gap: 20px;
                align-items: flex-start;
            }

            .custom-link {
                margin-bottom: 0;
                font-size: 12px;
                padding: 012px;

            }

            .custom-wa {
                min-width: 58px;
                padding: 0 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: unset;
            }

            .r-side {
                display: flex;
                align-items: center;
                gap: 60px;

                @media screen and (max-width: 1025px) {
                    gap: 22px;

                }

                .fasel {
                    width: 1px;
                    height: 50px;
                    background-color: #00000033;

                    @media screen and (max-width: 1025px) {
                        display: none;

                    }
                }
            }

            .l-side {
                display: flex;
                align-items: center;
                gap: 5px;
            }

            .pay-methods {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .pay-images {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    flex-wrap: wrap;

                    img {
                        height: 57px;
                        width: auto;
                        -o-object-fit: contain;
                        object-fit: contain;

                        @media screen and (max-width: 1425px) {
                            height: 35px;

                        }

                        @media screen and (max-width: 767px) {
                            height: 26px;

                        }
                    }
                }

                span {
                    font-size: 12px;
                    font-weight: 500;
                    color: $main;
                }

            }

            .price {
                display: flex;
                flex-direction: column;
                gap: 10px;

                span {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-weight: 800;
                    font-size: 24px;
                    color: $hover;

                    @media screen and (max-width: 1025px) {
                        font-size: 16px;

                    }

                    .currency-name {
                        font-weight: 800;
                        font-size: 12px;
                        color: $sec;

                        @media screen and (max-width: 1025px) {
                            font-size: 10px;

                        }
                    }
                }

                p {
                    font-weight: 500;
                    font-size: 12px;
                    color: $main;
                    margin-bottom: 0;
                }
            }

        }

    }
}

.pc-feats {
    h4 {
        font-weight: 700;
        font-size: 32px;
        color: $main;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    h5 {
        font-weight: 700;
        font-size: 24px;
        color: $hover;
        margin-bottom: 20px;
        text-align: center;
    }

    .fts-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 300px;
        row-gap: 30px;
        position: relative;
        min-height: 120px;
        padding: 10px;
        margin-bottom: 40px;

        .fasel {
            width: 1px;
            height: 100px;
            background-color: #00000033;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .grid-item {
            display: flex;
            gap: 8px;

            span {
                font-size: 14px;
                font-weight: 500;
                color: $black;
            }
        }
    }

    img {
        width: 20px;
        height: 20px;
        -o-object-fit: contain;
        object-fit: contain;
    }

    .l-side {
        display: flex;
        align-items: center;
        gap: 6px;
        margin: 0 auto;
        width: fit-content;

        .custom-link {
            margin: 0;
            width: fit-content;
        }
    }
}

.comment {
    padding: 40px;
    border-radius: 40px;
    background-color: $main;
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 100%;

    .comment-head {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
            font-weight: 700;
            font-size: 14px;
            color: $white;

        }

        .first-letter {
            width: 48px;
            height: 48px;
            @include flexCenter;
            border-radius: 50%;
            background-color: $white;
            color: $main;
            font-weight: 800;
            font-size: 12px;
        }

    }

    .comment-body {
        font-weight: 500;
        font-size: 14px;
        line-height: 40px;
        text-align: justify;
        color: $white;
    }

}

.dets {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;

    .date {
        font-weight: 700;
        font-size: 16px;
        color: $white;
    }

    .rating {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $white;
        font-weight: 800;
        font-size: 14px;
        text-align: right;
        line-height: 20px;

        i {
            color: #FFBE33;
            font-size: 20px;

        }

    }
}


.planList {
    .accordion {
        .accordionTrigger {
            svg {
                color: $white;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $sec;
                padding: 15px;

            }
        }
    }
}

.terms-row {
    button {
        border: 1px solid $main;
        border-radius: 4px;
        color: $main;
    }
}