:root {
  --main-color: #6255A4;
  --main-hover: #FF9B0B;
  --sec-color: #1f1f1f;
  --black-color: #000;
  --white-color: #fff;
  --border-radius: 24px;
  font-size: 16px;
}

@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Bold.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Black.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-BlackItalic.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Bold.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-BlackItalic.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Black.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-BoldItalic.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-LightItalic.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Light.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-BoldItalic.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Light.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-LightItalic.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-ExtraBold.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-ExtraLight.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-ExtraBold.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-ExtraLight.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-MediumItalic.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Medium.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-SemiBold.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Regular.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-MediumItalic.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Regular.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-RegularItalic.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-RegularItalic.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-Medium.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lama Sans";
  src: url("../fonts/Lama Sans/LamaSans-SemiBold.woff2") format("woff2"), url("../fonts/Lama Sans/LamaSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Lama Sans";
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) #fff;
  scroll-behavior: unset !important;
}

.overflow {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  image-rendering: -webkit-optimize-contrast !important;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  outline: 0 !important;
}

input::-moz-placeholder {
  color: inherit;
}

input::placeholder {
  color: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  outline: 0;
}

a,
img,
button,
input,
select {
  transition: all 0.3s ease;
}

[role=button] {
  cursor: pointer;
}

/*style scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-hover);
}

@media only screen and (max-width: 767px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 990px;
  }
}
@media only screen and (min-width: 1440px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1000px;
  }
}
.container-fluid {
  --bs-gutter-x: 30px;
}

.container {
  --bs-gutter-x: 30px;
}

.row {
  --bs-gutter-x: 30px;
}

.row > * {
  --bs-gutter-x: 30px;
}/*# sourceMappingURL=main.css.map */