// // Abstracts
@import "sass/abstracts/variables";
@import "sass/abstracts/mixins";

// // Base
@import "sass/base/base";

// //Components

// //Layout
@import "sass/components/header";
@import "sass/components/index";
@import "sass/components/details-page";
@import "sass/components/hotels-page";
@import "sass/components/footer";
@import "sass/components/housing-page";
@import "sass/components/loading";
@import "sass/components/account";
@import "sass/components/package";
@import "sass/components/housing";
@import "sass/components/tiktok";